{% macro modal(id, title='', size='', body='', footer='') -%}
<div class="modal" id="{{ id }}">
  <div class="modal-backdrop"></div>
  <div class="modal-content"{% if size %} style="max-width:{{ size }};"{% endif %}>
    <div class="modal-header">
      <h5>{{ title }}</h5>
      <button class="modal-close" onclick="Modal.close('{{ id }}')">
        <i data-lucide="x"></i>
      </button>
    </div>
    <div class="modal-body">{{ body | safe }}</div>
    {% if footer %}<div class="modal-footer">{{ footer | safe }}</div>{% endif %}
  </div>
</div>
{%- endmacro %}
