<!DOCTYPE html>
<html lang="en" data-theme="light">
{% include 'index/_head.html' %}
<body>

{% include 'index/_login.html' %}
{% include 'index/_modal_change_password.html' %}
{% include 'index/_modal_forgot_password.html' %}
{% include 'index/_layout_open.html' %}
{% include 'index/_sidebar.html' %}
{% include 'index/_wrapper_open.html' %}
{% include 'index/_navbar.html' %}
{% include 'index/_main_open.html' %}
{% include 'index/pages/dashboard.html' %}
{% include 'index/pages/collection.html' %}
{% include 'index/pages/farmers.html' %}
{% include 'index/pages/farmer_form.html' %}
{% include 'index/pages/farmer_profile.html' %}
{% include 'index/pages/farmer_passbook.html' %}
{% include 'index/pages/branches.html' %}
{% include 'index/pages/payments.html' %}
{% include 'index/pages/pricing.html' %}
{% include 'index/pages/quality.html' %}
{% include 'index/pages/rejections.html' %}
{% include 'index/pages/procurement.html' %}
{% include 'index/pages/inventory.html' %}
{% include 'index/pages/employees.html' %}
{% include 'index/pages/vehicles.html' %}
{% include 'index/pages/expenses.html' %}
{% include 'index/pages/reports.html' %}
{% include 'index/pages/audit.html' %}
{% include 'index/pages/settings.html' %}
{% include 'index/pages/notifications.html' %}
{% include 'index/pages/profile.html' %}
{% include 'index/pages/user_guide.html' %}
{% include 'index/pages/help.html' %}
{% include 'index/pages/404.html' %}
{% include 'index/_main_close.html' %}
{% include 'index/_modals_extra.html' %}
{% include 'index/_scripts.html' %}
</body>
</html>
